@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'),
    url(./MaterialIcons-Regular.woff2) format('woff2'),
    url(./MaterialIcons-Regular.woff) format('woff'),
    url(./MaterialIcons-Regular.ttf) format('truetype');
}

input,
select {
  font-family: Roboto, Noto Sans, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  width: 100%;
  height: 1.2em;
  box-sizing: border-box;
  line-height: 1em;
  vertical-align: baseline;
  border: none;
  padding: 0;
}
input[type='number'] {
  text-align: right;
}
select {
  background: transparent;
  border: none;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.strong {
  font-weight: bold;
}
.shouted {
  text-transform: uppercase;
}
.title {
  color: #666699;
}
table {
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
}
td {
  height: 1.2em;
  vertical-align: baseline;
}
.bordered th,
.bordered td {
  border: 1px solid black;
}

.md-menu-content {
  z-index: 11;
}

.overflow {
  overflow: auto;
}
